<h1>{{title}}</h1>

<form action="" method="post">
	<select name="service">
		<option value="reddit">Reddit</option>
		<option value="spotify">Spotify</option>
		<option value="weather">Météo</option>
		<option value="twitch">Twitch</option>
	</select>
	<button type="submit" class="btn btn-primary">Abonner/Désabonner</button>
</form>